html,
body {
  background: pink;
  border: none;
  padding: 0;
  margin: 0;
  width: 300px;
  top: 0;

}

h1 {
  color: purple;
  padding: 20px;
}

input {
  width: 100%;
  margin: 0;
  height: 40px;
  border: 0;
  border-top: 1px solid purple;
  padding: 20px;
}